<footer class="site-footer">
  <div class="container footer-container">
    <div class="footer-brand">
      <h3>Pau D'Alho Ideias Criativas</h3>
      <p>
        Produtos pensados para estimular autonomia, criatividade e momentos em família.
      </p>
    </div>

    <div class="footer-links">
      <a href="produtos.html">Produtos</a>
      <a href="pau-dalho.html">Sobre a marca</a>
     <a class="whatsapp" data-whatsapp>
  <img src="assets/images/interface/toco-whatsapp.png" alt="Fale conosco no WhatsApp">
</a>
    </div>
  </div>
</footer>
